exec xrdb $HOME/.Xresources

### Output configuration
output * bg ~/wallpaper.jpg fill

# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod normal

gaps inner 2
