# Font for window titles
font pango:ProFont 8

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# class border backgr indicator
client.focused $grey $grey $bg
client.unfocused $border $border $fg
client.focused_inactive $border $border $grey
client.urgent $alert $alert $bg

popup_during_fullscreen smart

# Move the current workspace to the next output
# (effectively toggles when you only have two outputs)
bindsym $mod+x move workspace to output right
